[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
boto3 = "*"
django-storages = "*"
pillow = "*"
opencv-python-headless = "*"
numpy = "*"
torch = "*"
torchvision = "*"
timm = "*"
nltk = "*"
pandas = "*"
tensorflow = "*"
torchaudio = "*"
keras = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
