{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Interface</title>
    <link rel="stylesheet" href="{% static 'stylesD.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}" type="image/png">
    <title>DermaChatDoctor</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'TitleDoctor.jpg' %}" alt="DermaChat">
        </div>
        
        <form method="post" action="/doctor/images/" class="search-form">
            {% csrf_token %}
            <input type="text" id="query-input" name="user_id" placeholder="Enter User_ID">
            <button type="look" class="button">Look at photos</button>
        </form>

        <div class="big-container">
            <div class="left-side">
                <div class="image-gallery">
                    {% if image %}
                    <img src="{{ image.image.url }}">
                    <div class="prediction-container">
                        <h1>Prediction:</h1>
                        <div class="prediction_model">
                            <h2>{{ prediction|percentage }}</h2>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="right-side">
                <form method="post" action="/doctor/">
                    {% csrf_token %}
                    <input type="hidden" name="user_id_" value="{{ user_id }}">
                    <div class="form-group">
                        <label for="skin_tone">Skin Tone:</label>
                        <select name="skin_tone">
                            {% for i in "123456" %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="malignant">Malignant:</label>
                        <input type="checkbox" name="malignant" value="true">
                    </div>
                    <button type="submit" class="button">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
