{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor interface</title>
    <link rel="stylesheet" href="{% static 'stylesD.css' %}">
</head>
<body>
    <div class="container">
        <h2>Dermachat for the doctors</h2>
        <form method="post">
            {% csrf_token %}
    
            <input type="text" id="query-input" name="user_id" placeholder="Enter User_ID">
            <button type="submit" class="button">Look at photos</button>

            <div class="big-container" id="content-container">
                {% if image_filenames %}
                    <h3>Images for User ID: {{ user_id }}</h3>
                    <div class="image-gallery">
                        {% for image_filename in image_filenames %}
                            <img src="https://s3.amazonaws.com/provafinalproject/raw_data/nonlabelled_images/date=27-03-2024/{{ image_filename }}" alt="User Image">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <button type="button" class="button" onclick="toggleSkin()">Select the skin tone</button>
            <div class="menu" id="menu">
                <input type="checkbox" name="skin_tone" value="1"> Skin Tone 1<br>
                <input type="checkbox" name="skin_tone" value="2"> Skin Tone 2<br>
                <input type="checkbox" name="skin_tone" value="3"> Skin Tone 3<br>
                <input type="checkbox" name="skin_tone" value="4"> Skin Tone 4<br>
                <input type="checkbox" name="skin_tone" value="5"> Skin Tone 5<br>
                <input type="checkbox" name="skin_tone" value="6"> Skin Tone 6<br>
            </div>

            <button type="button" class="button" onclick="toggleMelanoma()">Select diagnosis</button>
            <div class="menu2" id="menu2">
                <input type="checkbox" name="melanoma" value="true"> Melanoma<br>
                <input type="checkbox" name="melanoma" value="false"> Not melanoma<br>
            </div>

            <button type="submit" class="button" id="Confirmed">Confirmed</button>
        </form>
    </div>

    <script>
        function toggleSkin() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "none") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }

        function toggleMelanoma() {
            var menu = document.getElementById("menu2");
            if (menu.style.display === "none") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }

        function executeQuery() {
            var query = document.getElementById("query-input").value;
            // You can perform further actions here, such as sending the query to the server
            alert("Executing query: " + query);
        }
    </script>
</body>
</html>
