{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <div class="header">
        <img src="{% static 'TitleDoctor.jpg' %}" alt="DermaChat">
    </div>
    <link rel="stylesheet" href="{% static 'stylesT.css' %}">
</head>
<body>
    <h1 class="'Title">Triage</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Submission Date</th>
                <th>Detected</th>
                <th>Severity</th>
                <th>Model ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><a href="{% url 'images' %}?user_id={{ item.user_id }}">{{ item.user_id }}</a></td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.prediction|floatformat:4 }}</td>
                <td>{{ item.severity }}</td>
                <td>{{ pkl_file_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
