body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #07818C;
}

h1 {
    position: absolute;
    top: 10; 
    left: 20px; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: left;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; 
}

.header img {
    max-width: 35%; /* Reduce the size of the image to one-third */
    height: auto; /* Maintain aspect ratio */
}


h1 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #C7E9EA;
    color: black;
}
th, td {
    padding: 12px;
    border: 1px solid #07818C;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.high-severity {
    background-color: rgb(179, 34, 34);
    color: white;
    border: 2px solid darkred;
    font-weight: bold;
}

.moderate-severity {
    background-color: yellow;
    color: darkorange;
    border: 2px solid orange;
    font-weight: bold;
}

.low-severity {
    background-color: green;
    color: white;
    border: 2px solid darkgreen;
    font-weight: bold;
}