body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; 
}

.header img {
    max-width: 35%; /* Reduce the size of the image to one-third */
    height: auto; /* Maintain aspect ratio */
}


h1 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}