body {
    font-family: Arial, sans-serif;
    background-color: #07818C;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; 
}

.header img {
    max-width: 60%; /* Reduce the size of the image to one-third */
    height: auto; /* Maintain aspect ratio */
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.prediction-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.prediction-container h1 {
    font-size: 28px;
    color: #07818C;
    margin-right: 5px;
}

.prediction-container .prediction_model {
    font-size: 36px;
    color: white;
    background-color: #07818C;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    line-height: 0px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 2px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#query-input {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
}

button[type="submit"], .custom-file-upload {
    border-radius: 40px; /* More rounded corners */
    padding: 15px 30px;
    background-color: #01515A;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    line-height: normal; /* Adjusted for better text centering */
}

button[type="look"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    background-color: #01515A;
    color: #fff;
    text-decoration: none;
    border: none;
}

button:hover, .custom-file-upload:hover {
    background-color: #FD9B82;
    color: #01515A;
}

.big-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #07818C;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 45%;
    margin-bottom: 20px;
}

.left-side img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    display: block;
}

.left-side, .right-side {
    width: 45%;
}

.image-gallery img {
    max-width: 100%;
    max-height: 300px; /* Ensure image fits within the container */
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 30px;
    padding: 20px;
}

.right-side form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-side label {
    margin-right: 10px;
    color: #fff; /* Cambia 'red' con il colore che preferisci */
    font-weight: bold; /* Per rendere il testo del label più evidente */
    padding: 5px; /* Aggiungi padding per maggiore spazio attorno al testo */
    border-radius: 8px; /* Aggiungi bordi arrotondati */
    margin-right: 10px; /* Aggiungi margine a destra per separare il label dal campo di input */
    font-size: 40px; /* Cambia la dimensione del testo del label */
    text-transform: uppercase; /* Trasforma il testo del label in maiuscolo */
    letter-spacing: 1px; /* Aggiungi spazio tra le lettere */
}

.right-side select, .right-side input[type="checkbox"] {
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #01515A; /* Match with your button border */
    background-color: #C7E9EA; /* Match with your background color */
    color: black; /* White text for contrast */
    font-size: 20px; /* Increase font size for better readability */
    font-family: Arial, sans-serif; /* Match with your button font */
}

.right-side input[type="checkbox"] {
    width: 30px; /* Adjust width for better alignment */
    height: 30px; /* Adjust height for better alignment */
    appearance: none; /* Remove default checkbox styling */
    border: 2px solid #01515A; /* Add border to custom checkbox */
    background-color: #C7E9EA; /* Background color of checkbox */
    border-radius: 5px; /* Rounded corners for checkbox */
    position: relative;
}

.right-side input[type="checkbox"]:checked {
    background-color: #FD9B82; /* Background color when checked */
}

.right-side input[type="checkbox"]:checked::before {
    content: '\2714'; /* Unicode character for checkmark */
    color: #01515A; /* Color for checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust size of checkmark */
    line-height: 1; /* Ensure checkmark is not stretched */
}

.right-side .button {
    align-self: center;
    border-radius: 40px;
    padding: 15px 30px;
    background-color: #01515A;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
    line-height: normal;
}

.right-side .button:hover {
    background-color: #FD9B82;
    color: #01515A;
}
