/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenitore principale */
.content-container {
    display: flex; /* Utilizziamo flexbox per i contenitori principali */
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Left section styles */
.left-section {
    width: calc(100% / 3);
    float: left;
}

.image_container {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 20px; /* Add some space between left and right sections */
}

.image_container h1 {
    margin-top: 0;
}

.sidebar {
    width: 100%; 
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar p {
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Right section styles */
.right-section {
    width: calc(2 * 100% / 3);
    float: left;
}

.container {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 1200px;
    height: 400px;
}

/* Imposta l'altezza della parte sinistra in base all'altezza della parte destra */
.image_container {
    height: 400px; /* Imposta la stessa altezza di .container */
}

/* Aggiunge spazio tra le sezioni sinistra e destra */
.image_container {
    margin-right: 20px;
}

.chat {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    color: blue;
}

.bot-message {
    color: green;
}

/* Input field styles */
#message-form {
    display: flex;
    margin-top: 10px;
}

#user-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

[type="submit"] {
    padding: 8px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
}

/* Prediction result container */
#prediction-result {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    margin-bottom: 20px; /* Space between prediction result and chat */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/* Prediction result heading */
#prediction-result h2 {
    margin-top: 0; /* Remove default margin from heading */
}

/* Prediction result content */
#prediction-result p {
    margin-bottom: 10px; /* Space between paragraphs */
}

/* Prediction result buttons */
#prediction-result .btn {
    padding: 8px 15px; /* Padding for buttons */
    border: none; /* No border */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 10px; /* Space between buttons */
}
