{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DermaChat</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>DermaChat</h1>
        </div>
        <div class="content">
            <div class="sidebar">
                <h2>Images</h2>
                <p>Upload a skin lesion image for classification</p>
            </div>
            <div class="main">
                <form method="post" enctype="multipart/form-data" id="a-form">
                    {% csrf_token %}
                    <label for="id_image">Upload your Image:</label>
                    {{ form.image }}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="main image">
                <img src="{{ image.url }}" id="displayed_image">
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="content">
            <div class="main image">
                <form method="post" enctype="multipart/form-data" id="b-form"> 
                    {% csrf_token %}
                    <button type="submit" form="a-form">Submit</button> 
                </form>
                {% if image %}
                    <h3>madonnagiraffanellavalledeisoffittibassi</h3>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.getElementById('id_image').onchange = evt => {
            const [file] = evt.target.files;
            if (file) {
                document.getElementById('displayed_image').src = URL.createObjectURL(file);
            }
        }
    </script>
</body>
</html>
