{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Dermachat</title>
    <link rel="icon" href="{% static 'icon.png' %}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'Title.jpg' %}" alt="DermaChat">
        </div>
        <div class="content">
            <div class="sidebar">
                <form method="post" enctype="multipart/form-data" id="a-form">
                    {% csrf_token %}
                    <label class="custom-file-upload">
                        {{ form.image }}
                        Browse
                    </label>
                </form>
                <form method="post" enctype="multipart/form-data" id="b-form"> 
                    {% csrf_token %}
                    <button type="submit" form="a-form">Upload</button> 
                </form>
            </div>
            <div class="main">
                {% if not image %}
                <img src="{{ image.url }}" id="displayed_image">
                {% endif %}
                {% if image %}
                <img src="{% static 'Upload.jpg' %}" alt="Uploaded Image">
                {% endif %}
            </div>
        </div>
    </div> 
    <script>
        document.getElementById('id_image').onchange = evt => {
            const [file] = evt.target.files;
            if (file) {
                document.getElementById('displayed_image').src = URL.createObjectURL(file);
            }
        }
    </script>
</body>
</html>
